
.button-group
    width: 100%
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 1rem

    input
        padding-inline-start: 0.5rem
        outline: none
        border: 1px solid green
        border-radius: 6px
        min-width: 80px
        padding-inline: 0.5rem
        padding-block: 0.75rem

