<main>
    <div class="input-field">
        <label for="bill">Bill</label>
        <input type="number" name="bill" id="bill" [(ngModel)]="bill" (change)="onSetBill(bill())">
    </div>

    <section>
        <p>Select Tip %</p>

        <div class="button-group">
            @for (button of tipsButton; track $index) {
                <app-button class="button" [color]="button.color" [textColor]="'#ffffff'" [label]="button.label"  (tipSelected)="handleSelectedTip(button.value)"/>
            }
            
            <input type="number" placeholder="Custom" class="custom" [(ngModel)]="inputTip" (ngModelChange)="inputTip.set($event)"
                (keydown.enter)="handleSelectedTip(inputTip())"
                (blur)="handleSelectedTip(null)">
        </div>
    </section>

    <div class="input-field">
        <label for="people">Number of People</label>
        @if(numberOfPeople() <= 0) {
            <span class="error">Can't be zero</span>
        }
        <input type="number" name="people" id="people" [(ngModel)]="numberOfPeople" (change)="onSetPeople(numberOfPeople())"
         [class.error]="numberOfPeople() <= 0">
        
    </div>
</main>