<section>
    <div class="top-col">

        <div class="row">
            <div class="left-section">
                <h4>Tip Amount</h4>
                <p>/person</p>
            </div>
            <div class="right-section">
                <p>{{amountByPerson() | currency}}</p>
            </div>
            
        </div>

        <div class="row">
            <div class="left-section">
                <h4>Total</h4>
                <p>/person</p>
            </div>
            <div class="right-section">
                <p>{{totalAmount() | currency}}</p>
            </div>
            
        </div>
    </div>

    <app-button [label]="'RESET'" [color]="'#9FE8DF'" [textColor]="'#00474B'" (click)="onResetClicked()"/>

</section>
