<section>
    <div class="top-col">

        <div class="row">
            <div class="left-section">
                <h2>Tip Amount</h2>
                <p>/person</p>
            </div>
            <div class="right-section">
                <p>{{amountByPerson() | currency}}</p>
            </div>
            
        </div>

        <div class="row">
            <div class="left-section">
                <h2>Total</h2>
                <p>/person</p>
            </div>
            <div class="right-section">
                <p>{{totalAmount() | currency}}</p>
            </div>
            
        </div>
    </div>

    <div class="bottom-col">
        <app-button [label]="'RESET'" color="'9FE8DF'"/>
    </div>

</section>
